<header>
    <nav class="navbar navbar-dark bg-dark">
        <span href="/home" class="navbar-brand mb-0 h1" style="font-weight: bold;">Gestão de Hospitalar </span>

        <!--Se a url for diferente de /newpost ele mostra o button Novo Post-->
        <div th:if="${#httpServletRequest.requestURI != '/newconsulta'}">
            <a href="/appointment/new" class="btn btn-light" role="button">Nova Consulta</a>
        </div>
        <div th:if="${#httpServletRequest.requestURI != '/newpaciente'}">
            <a href="/patient/new" class="btn btn-light" role="button">Novo Paciente</a>
        </div>
        <div th:if="${#httpServletRequest.requestURI != '/newfuncionario'}">
            <a href="/doctor/new" class="btn btn-light" role="button">Novo Médico</a>
        </div>

    </nav>

</header>