<!DOCTYPE html>
<!--Referenciando o Thymeleaf-->
<html xmlns:th="http://thymeleaf.org">
  <div th:replace="include/head :: head"></div>
  <div th:replace="include/reader :: header"></div>

  <body>
    <section>
      <!--Listagem de poster-->
      <div class="container" style="width: 60%; padding-bottom: 30px">
        <h2>Criar Consulta</h2>

        <form
          method="POST"
          th:object="${appointment}"
          th:action="@{/appointment}"
        >
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              id="cost"
              name="cost"
              placeholder="Custo"
            />
          </div>

          <div class="form-group">
            <input
              class="form-control"
              type="number"
              id="duration"
              name="duration"
              placeholder="Duração"
            />
          </div>

          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="occasion"
              name="occasion"
              placeholder="Ocasião"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              id="diagnosis"
              name="diagnosis"
              placeholder="Diagnóstico"
            />
          </div>
          <div class="form-group">
            <select class="form-control" name="typeAppointment">
              <option class="dropdown-item" name="TRIAGEM" href="#">
                TRIAGEM
              </option>
              <option class="dropdown-item" name="CIRURGIA" href="#">
                CIRURGIA
              </option>
              <option class="dropdown-item" name="EXAME" href="#">EXAME</option>
              <option class="dropdown-item" name="OBSERVACAO" href="#">
                OBSERVACAO
              </option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Criar Consulta</button>
        </form>
      </div>
    </section>

    <script>
      $("#summernote").summernote({
        placeholde: "Texto *",
        tabsize: 2,
        height: 300,
      });
    </script>
  </body>
</html>
