<!DOCTYPE html>
<!--Referenciando o Thymeleaf-->
<html xmlns:th="http://thymeleaf.org">
  <div th:replace="include/head :: head"></div>
  <div th:replace="include/reader :: header"></div>

  <body>
    <section>
      <!--Listagem de poster-->
      <div class="container" style="width: 80%; padding: 30px">
        
        <section>
          <h2>Pacientes</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">CEP</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="patient :${patients}">
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.cpf}"></td>
                <td th:text="${patient.cep}"></td>
                <td th:text="${patient.birthDate}"></td>
                <td ><a th:href="@{/patient/{id}(id=${patient.id})}">Excluir</a></td>
              </tr>
            </tbody>
          </table>
      </section>
        <br> <br>  <br>  <br>
        <section>
          <h2>Médicos</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">RMS</th>
                <th scope="col">CPF</th>
                <th scope="col">Especialidade</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="doctor :${doctors}">
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.RMS}"></td>
                <td th:text="${doctor.cpf}"></td>
                <td th:text="${doctor.especialidade}"></td>
                <td th:text="${doctor.birthDate}"></td>
                <td ><a th:href="@{/doctor/{id}(id=${doctor.id})}">Excluir</a></td>
              </tr>
            </tbody>
          </table>
        </section>
        <br> <br>  <br>  <br>
        <section>
          <h2>Consultas</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Duração</th>
                <th scope="col">Ocasião</th>
                <th scope="col">Custo</th>
                <th scope="col">Diagnóstico</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="appointment :${appointments}">
                <td th:text="${appointment.typeAppointment}"></td>
                <td th:text="${appointment.duration}"></td>
                <td th:text="${appointment.occasion}"></td>
                <td th:text="${appointment.cost}"></td>
                <td th:text="${appointment.diagnosis}"></td>
                <!-- <td ><a th:href="@{/appointment/{id}(id=${appointment.id})}">Excluir</a></td> -->
              </tr>
            </tbody>
          </table>
        </section>
    </section>
  </body>
</html>
