<!DOCTYPE html>
<!--Referenciando o Thymeleaf-->
<html xmlns:th="http://thymeleaf.org">
  <div th:replace="include/head :: head"></div>
  <div th:replace="include/reader :: header"></div>

  <body>
    <section>
      <!--Listagem de poster-->
      <div class="container" style="width: 60%; padding-bottom: 30px">
        <h2>Criar Paciente</h2>
        <form method="POST" th:object="${patient}" th:action="@{/patient}">
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Nome"
              th:field="*{name}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="CPF"
              th:field="*{cpf}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="date"
              placeholder="Data de Nascimento"
              th:field="*{birthDate}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="CEP"
              th:field="*{cep}"
            />
          </div>
          <button type="submit" class="btn btn-primary">Criar Paciente</button>
        </form>
      </div>
    </section>

    <script>
      $("#summernote").summernote({
        placeholde: "Texto *",
        tabsize: 2,
        height: 300,
      });
    </script>
  </body>
</html>
